# Ignore arquivos compilados
*.o
*.exe
*.out
*.class
*.jar
*.pyc
*.pyo
*.pdb
*.so

# Ignore diretórios de build
/build/
/dist/
/__pycache__/
/*.egg-info/

# Ignore logs, banco de dados e outros arquivos de ambiente
*.log
*.sql
*.sqlite
*.db

# Ignore arquivos de sistema
.DS_Store
Thumbs.db

# Ignore configurações de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore arquivos de testes gerados
/Testes/*.log
/Testes/*.out

# Ignore arquivos temporários
*.tmp
*.swp
*.bak
*.swo

# Ignore env files
.env
